{% extends "blog/layout.html" %}

{% block title %}
  {{post.title}}
{% endblock %}

{% block content %}


<div class="container">
  <div class="jumbotron text-center">
    <h1>Geonil's Blog <sub>By geonil</sub></h1>
    <p>여러분의 친구 건일</p>
    <p>
      <a href="http://localhost:3007" class="btn btn-lg btn-primary">안뇽&raquo;</a>
    </p>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="alert alert-info">
          http://bc6f5308.ngrok.io
      </div>

      <div class="">
        <form action="" method="get">
          <input type="text" name="q" value="" >
          <input type="submit" name="" value="검색" class="btn btn-primary">
        </form>
        <a href="{% url "blog:post_new" %}" class="pull-left" style="float:right">글 작성</a>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>수정일</th>
          </tr>
        </thead>
        <tbody>
          {% for post in post_list %}
            <tr>
              <td>{{post.id}}</td>
              <td><a href="{% url "blog:post_detail" post.id %}">{{post.title}}</a></td>
              <!-- <a href="/blog/detail/{{post.id}}">{{post.title}}</a> -->
              <td><small>by {{post.user}}</small></td>
              <td><small>at {{post.updated_at}}</small></td>
            </tr>
          {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>






{% endblock %}
