{% extends "blog/layout.html" %}
<!-- 3번째방법구현 -->
{%load imagekit%}

{% block title %}
  {{post.title}}
{% endblock %}

{% block content %}
<!-- 여기는 작성글  -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>{{post.title}}</h2>
      <!-- <img src="/media/{{ post.photo }}" alt="as" style="max-width:100%;"> -->
      {% if post.photo %}
      <!-- <img src="{{ post.photo_thubnail.url }}" alt="as" style="max-width:100%;"> -->
      <img src="{{ post.photo.url }}" alt="" style="max-width:100%;">

      {% thumbnail "100x100" post.photo %}
      <img src="{{ post.photo.url }}" alt="as" style="max-width:50%;max-height:50%;">

      {% thumbnail "100x100" post.photo as thum%}
      <img src="{{thum.url}}" width="{{thum.width}}" height="thum.height" alt="">

      {% thumbnail "100x100" post.photo -- style="" onclick="alert('Hello')" class="" %}

<!-- 3번째방법구현 -->
      {% thumbnail "100x100" post.photo%}
      {% endif %}
      <p>{{post.content|linebreaks}}</p>
      <small>by {{post.user}}</small>
      <small>at {{post.updated_at}}</small>

      <hr>
      <!-- 여기는 댓글. -->
      <h3>Comment</h3>
      {%for comment in post.comment_set.all%}
      <ol>
      <li>
        {{comment.message}}
        작성자 : {{comment.author}}
        <small>작성시간 : {{comment.update_at}}</small>
        <small>해당글 : {{comment.post}}</small>
      </li>
      </ol>
      {%endfor%}
      <hr>
      <a href="{% url "blog:post_list" %}" class="btn btn-primary">글 목록</a>
      <a href="{% url "blog:post_edit" post.id %}" class="btn btn-default">수정하기</a>
    </div>
  </div>
</div>


{% endblock %}
